<!-- Image and text -->
<nav class="navbar navbar-light" style="background-color: #95BF47;">
  <a class="navbar-brand" href="#">
    <img src="https://images.app.goo.gl/d9ekyHFa8mk6npzf8" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    The Shoppies - Movie Awards for Entrepreneurs
  </a>
</nav>